<!DOCTYPE html>
<html ng-app="TrouperApp">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' type="text/css" href="/stylesheets/main.css" />
  </head>
  <body ng-controller="LoginController" class="cover-background">

  <div ng-view="" />

    <script src="/javascripts/bower.js"></script>
    <script src="/javascripts/angular/modules/angularapp.js"></script>
    <script src="/javascripts/angular/controllers/controllers.js"></script>
  </body>
</html>

