<div class="MainMenu">
<div class="nav">
    <div class="logo">
        Trouper
    </div>
    <div>
        <ul>
            <li>Home</li>
            <li>Services</li>
            <li>Client</li>
            <li>Team</li>
            <li>Contact</li>
        </ul>
    </div>
</div>

</div>

<div class="hero-container">
    <div class="hero-title">
        <label>Can you build the website of my dreams</label>
    </div>
    <div class="hero-sub-title">
        <label>YUP, WE CAN DO THAT</label>
    </div>
    <button class="hero-button">Learn More</button>
</div>
